html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: black;
}

header.header {
    width: 100%;
    border: 0;
    border-bottom: 3px solid #000000;
    padding: 10px;
    vertical-align: middle;
    box-sizing: border-box;
}

header.header h1.title {
    display: inline-block;
    float: left;
    margin: 0px;
    font-size: 3rem;
    font-weight: bold;
}

header.header div.menu {
    display: inline-block;
    float: right;
    margin: 12px;
}

a.button {
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #a9a9a9;
    color: #000000;
    box-sizing: border-box;
    margin: 0px 10px;
    padding: 5px 10px;
}

main .container h2.null_text {
    display: inline-block;
    font-size: 1.5rem;
    margin: 5px 10px;
    text-align: left;
    font-weight: 400;
}

.right {
    position: absolute;
    right: 50px;
}

header.header:after {
    content: "";
    display: block;
    clear: both;
}

main p.error {
    display: block;
    width: 100%;
    text-align: center;
    color: #ff0000;
    font-size: 1.0rem;
}

main p.success {
    color: #1e90ff;
    font-size: 1.0rem;
}
main div.container {
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container table.list {
    width: 100%;
    border: 2px solid #000000;
    box-sizing: border-box;
    margin-bottom: 20px;
}

table.list caption {
    text-align: left;
    font-size: 1.7rem;
    padding: 10px;
}

th.category {
    width: 10%;
}

table.list th, table.list td {
    border: 1px solid #000000;
    padding: 5px 10px;
    vertical-align: middle;
    text-align: center;
}

th.title {
    width: 40%;
}

table.list td.title {
    text-align: left;
}

div.intro {
    width: 100%;
}

.intro h1.text {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 15px;
    width: 100%;
    text-align: center;
    line-height: 3.5rem;
}

main.login {
    display: block;
    border: 2px solid #000000;
    margin: 20px auto;
    padding: 10px;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
}

table.login th {
    text-align: right;
    padding: 10px;
    width: 35%;
    box-sizing: border-box;
}

a.medium.button {
    font-size: 1rem;
    margin-top: 10px;
}

a.small.button {
    font-size: 0.8rem;
    margin-top: 10px;
}

form.login_form {
    text-align: center;
}

p.register {
    display: inline-block;
    font-size: 0.8rem;
}

main.login div.notice {
    text-align: center;
}

form.container {
    display: block;
    max-width: 300px;
    width: 100%;
    border: 2px solid #000000;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
}

.container.todo {
    display: block;
    max-width: 500px;
    width: 100%;
    border: 2px solid #000000;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
}

.container h2 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

table.profile {
    width: 100%;
}
table.profile th {
    text-align: right;
    padding: 10px;
    width: 35%;
    box-sizing: border-box;
}

table.profile td.center {
    text-align: center;
}

table.profile td {
    width: 65%;
    text-align: left;
    box-sizing: border-box;
}

table.todo {
    width: 100%;
}
table.todo th {
    text-align: right;
    padding: 10px;
    width: 20%;
    box-sizing: border-box;
}

table.todo td.center {
    text-align: center;
}

table.todo td {
    width: 65%;
    text-align: left;
    box-sizing: border-box;
}

table.todo td textarea.text {
    width: 80%;
    height: 10rem;
    vertical-align: top;

}