<!doctype html>
<html xmlns:th="http://www.typeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>To Do List</title>
</head>
<body>
<header>
    <h1>To Do List</h1>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/editprofile}">프로필수정</a>
        <a th:href="@{/logout}">로그아웃</a>
    </div>
    <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">로그인</a>
        <a th:href="@{/register}">회원가입</a>
    </div>
</header>
<main>
    <div th:if="${param.invalidAccess}">
        <h2>올바르지 않은 접근입니다.</h2>
    </div>
    <div sec:authorize="isAuthenticated()">
        <table>
            <caption>아직 못다한 일들</caption>
            <a th:href="@{/todo/add}">할일 등록</a>
            <thead>
            <tr>
                <th>구분</th>
                <th>제목</th>
                <th>남은 시간</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="toDo : ${toDoList}">
                <td th:text="${toDo.category}">카테고리</td>
                <td><a th:href="@{/todo/{toDoNo}/detail(toDoNo=${toDo.no})}" th:text="${toDo.title}">제목</a></td>
                <td th:text="${toDo.planTime}">계획일</td>
                <td><a href="" th:href="@{/todo/{toDoNo}/remove(toDoNo=${toDo.no})}">삭제</a></td>
                <!--<td><a href="" th:href="@{remove(id=${user.id})}">삭제</a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="isAnonymous()">
        <h1>
            당신의<br/><b style="color: darkblue">기억력</b>을<br/><b style="color: darkred">의심</b>하세요.
        </h1>
    </div>
</main>
</body>
</html>