<!DOCTYPE html>
<html xmlns:th="http://www.typeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>할일 상세</title>
</head>
<body>
<div>
    <h2>할 일 상세</h2>

    <table>
        <tbody>
        <tr>
            <th>제목</th>
            <td th:text="'[' + ${todo.category} + ']' + ' ' + ${todo.title}"></td>
        </tr>
        <tr>
            <th>계획일</th>
            <td th:text="${#dates.format(todo.planTime, 'yyyy년 MM월 dd일 HH시 mm분')}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${todo.text}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>